@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html, body {
    height: 100dvh;
    background: #526D82;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.navbar h1 {
    color: #fff;
}

.navbar ul {
    display: flex;
}

.navbar > ul > button {
    border: none;
    background-color: #526D82;
    margin-right: 25px;
    cursor: pointer;
}

.navbar .upload {
    border: none;
    padding: 6px;
    border-radius: 10px;
    background: #FFC436;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar .upload:hover {
    background: #EE9322;
}

.navbar .upload > p {
    font-size: 25px;
    color: #fff;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.header {
    height: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-welcome {
    margin-bottom: 30px;
    font-size: 50px;
    color: #fff;
}

.header-welcome::after {
    content: "";
    width: 2px;
    height: 40px;
    background: #fff;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}

.input-text {
    padding: 10px;
    font-size: 25px;
    color: #fff;
    background: #FFC436;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-text:hover {
    background-color: #EE9322;
}

/* PRICING PLAN FEATURES */

.main-text {
    font-size: 3.5rem;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.pricing {
    display: flex;
    justify-content: space-between;
}

.first-block, .second-block, .third-block {
    background-color: #F0ECE5;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.first-block {
    margin-left: 200px;
    text-align: center;
}

.second-block {
    text-align: center;
}

.third-block {
    margin-right: 200px;
    text-align: center;
}

.basic {
    color: #B6BBC4;
}

.premium {
    color: #EF9B59;
}

.ultra {
    color: #2B3499;
}

.basic, .premium, .ultra {
    font-size: 2rem;
    margin-bottom: 15px;
}

.price {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.include {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.feature {
    font-size: 1rem;
    list-style: none;
    margin-bottom: 20px;
}