@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100dvh;
    background-color:hsla(206,100%,10%,1);
    background-image:
    radial-gradient(at 43% 67%, hsla(293,80%,72%,1) 0px, transparent 50%),
    radial-gradient(at 58% 91%, hsla(169,72%,63%,1) 0px, transparent 50%),
    radial-gradient(at 86% 6%, hsla(328,91%,65%,1) 0px, transparent 50%),
    radial-gradient(at 6% 81%, hsla(191,85%,73%,1) 0px, transparent 50%),
    radial-gradient(at 14% 76%, hsla(302,79%,60%,1) 0px, transparent 50%),
    radial-gradient(at 6% 45%, hsla(136,78%,76%,1) 0px, transparent 50%),
    radial-gradient(at 60% 69%, hsla(61,70%,67%,1) 0px, transparent 50%);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    height: 80px;
}

.navbar .heading span {
    color: #FFFF00;
}

/* LOGIN BUTTONS */

.navbar .logging-btns button {
    padding: 12px;
    border: none;
    cursor: pointer;
    background: none;
}

.navbar .logging-btns button a {
    text-decoration: none;
    font-size: 1.25rem;
    transition: all .3s ease-in-out;
} .navbar .logging-btns button a:hover {
    color: #FFFF00;
}

/* UPLOAD BUTTON */

.navbar .upload-btn {
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #FFFF00;
    transition: all .3s ease-in-out;
}
.navbar .upload-btn:hover {
    transform: scale(1.05);
}

.navbar .upload-btn p {
    color: #526D82;
    font-size: 1.1rem;
}


/* SECTION ONE */

.introduction {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.introduction .seperator {
    font-size: 3.25rem;
}
.introduction .seperator span {
    color: #FFFF00;
}

.introduction p {
    max-width: 700px;
    text-align: center;
    line-height: 1.5;
}

.introduction .try-btn {
    margin-top: 30px;
    padding: 15px 40px;
    border: none;
    border-radius: 12px;
    background: #864AF9;
}

.introduction .try-btn p {
    font-size: 1.25rem;
}
.introduction .try-btn p span {
    color: #FFFF00;
}



